@font-face {
  font-family: 'Impact';
  src: url("/fonts/Impact.ttf");
}
.font-red {
  color: #e93e45;
}
.container {
  max-width: 988px;
  width: 100%;
}
html,
body {
  height: 100%;
}
.header img {
  max-width: 1500px;
}
.products-items img {
  max-width: 1500px;
}
.login-registr {
  width: 130px;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.not_footer {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.catalog h1 {
  padding-top: 20px;
  text-align: left;
}
.catalog .bread-crumbs {
  padding-top: 7px;
  padding-bottom: 13px;
}
.catalog {
  height: 100%;
}
.catalog_left {
  min-width: 288px;
  width: 288px;
}
.catalog_left .catalog_search {
  position: relative;
  display: flex;
  height: 40px;
  border: 1px solid #ababab;
}
.catalog_left .catalog_search input {
  position: absolute;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.catalog_left .catalog_search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 100%;
  background: url("/img/catalog_search.png") no-repeat 10px;
}
.catalog_left .catalog_search button:before {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 0;
  width: 1px;
  background: #ababab;
}
.catalog_left .decor-useless {
  margin: 0 12px 0 12px;
  height: 17px;
  background: #f9f9f9;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
.catalog_left .accordion_title {
  position: relative;
  display: flex !important;
  align-items: center;
  padding-left: 50px;
  height: 44px;
  font-size: 15px;
  border: 1px solid #cfcece;
  border-bottom: none;
}
.catalog_left .accordion_title:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 42px;
  height: 40px;
  background: #000 url("/img/catalog_menu__iconset.jpg") no-repeat;
}
.catalog_left .accordion_title .arrow {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  transform: rotate(0deg);
  right: 8px;
}
.catalog_left .accordion_title.active {
  font-weight: 600;
  border-bottom: 1px solid #cfcece;
}
.catalog_left .accordion_title.active .arrow {
  transform: rotate(180deg);
}
.catalog_left .accordion:nth-child(4) .accordion_title:before {
  background-position: 0px -43px;
}
.catalog_left .accordion:nth-child(5) .accordion_title:before {
  background: #00f;
}
.catalog_left .accordion:nth-child(6) .accordion_title:before {
  background: #00f;
}
.catalog_left .accordion:last-child .accordion_content {
  border-bottom: 1px solid #ababab;
}
.catalog_left .accordion:last-child .accordion_title {
  border-bottom: 1px solid #ababab;
}
.catalog_left .accordion_content {
  margin: 0 12px 0 12px;
  padding: 15px 0 20px 0;
  text-align: left;
  background: #f9f9f9;
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
.catalog_left .accordion_content ul {
  width: 100%;
  height: 100%;
}
.catalog_left .accordion_content ul li {
  width: 100%;
}
.catalog_left .accordion_content ul li.active a {
  font-weight: 600;
  color: #ea5157;
}
.catalog_left .accordion_content ul li.active a:before {
  content: '';
}
.catalog_left .accordion_content ul li a {
  position: relative;
  display: block;
  padding: 3px 10px 3px 24px;
  width: 100%;
  color: #000;
}
.catalog_left .accordion_content ul li a:before {
  content: '»';
  position: absolute;
  left: 12px;
}
.catalog_left .accordion_content ul li a:hover:before {
  content: '';
}
.catalog_right {
  position: relative;
  margin-left: 27px;
  width: 100%;
}
.catalog_right_imgbg {
  position: absolute;
  top: 0;
  right: -17px;
}
.catalog_right .img-left {
  align-items: flex-start;
}
.catalog_right .img-left img {
  margin-right: 18px;
}
.catalog_right .divider.left {
  margin: 10px 0 25px 0;
}
.catalog_right .divider.left b {
  display: block;
  width: 105px;
  font-family: Impact;
  font-size: 24px;
  color: #5a5a5a;
}
.catalog_closed {
  padding: 270px 36px 0 0;
}
.catalog_closed p {
  margin-bottom: 15px;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  text-align: justify;
  color: #7a7a7a;
}
.catalog_opened {
  text-align: left;
}
.catalog_title {
  padding-bottom: 10px;
  font-family: Calibri;
  font-size: 18px;
}
.catalog_title a {
  color: #7eaedd;
  text-decoration: underline;
}
.catalog_title a:visited {
  color: #2f71b3;
}
.catalog_title a:hover {
  text-decoration: none;
}
.catalog_item__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  border-right: 1px solid #cecece;
}
.catalog_item__left img {
  max-width: 220px;
  max-height: 163px;
}
.catalog_item__left span {
  margin-top: 13px;
  font-family: Archive;
  font-size: 20px;
  font-weight: 600;
}
.catalog_item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  line-height: 17px;
}
.catalog_item__right p {
  width: 100%;
  text-align: left;
}
.catalog_item__right b {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}
.catalog_item__right b:first-child {
  margin-top: 0;
}
.catalog_item__right .catalog_item__imgset img {
  margin: 6px 10px 0 0;
  width: 68px;
  height: 50px;
}
.catalog_item {
  padding: 20px 0 24px 0;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.catalog_item:last-child {
  padding-bottom: 35px;
  border-bottom: none;
}
@media (max-width: 850px) {
  .catalog > .flex_row__between {
    flex-direction: column;
  }
  .catalog_right {
    margin-left: 0;
    margin-top: 30px;
  }
  .catalog_closed {
    padding: 0;
  }
  .catalog_right_imgbg {
    position: relative;
    right: 0;
  }
}
@media (max-width: 550px) {
  .catalog_item .flex_row__start {
    flex-direction: column;
  }
  .catalog_item .catalog_item__left {
    align-items: flex-start;
    border: none;
  }
  .catalog_item .catalog_item__right {
    padding: 0;
  }
  .catalog_item .catalog_item__right b:first-child {
    margin-top: 12px;
  }
}
@media (max-width: 500px) {
  .catalog_closed .flex_row__between {
    flex-direction: column;
  }
  .catalog_closed p {
    margin-top: 6px;
    text-align: left;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
}
