extends pug-components/catalog

block title
    title catalog closed

block catalogRight
    .catalog_closed
        img(class='catalog_right_imgbg' src='img/bmw-catalog-bg.jpg' alt='')
        .divider.left
            b 2004-2010
        .flex_row__between.img-left
            img(src='img/bmw-logo.jpg' alt='')
            p Инновационные и новейшие технологии.. Инновационные технологии в обычном салоне красоты с невысокими ценами? Вы серьезно? Для фена с новым видом поддува и какого-нибудь Разглаживателя морщин - 2000”который есть в каждом салоне, это слишком громкие слова.
